body {
    background-color:greenyellow ;
}
h1{
    color:#7f11e6;
}
h2{
    color:black;
}
p{
    color:hsl(240, 96%, 29%);
}
#my-avatar{
     width: 150px;
     border-radius: 50%;
}
#content{
    text-align: center;
}