@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* CSS reset */
*{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    position: relative;
}
body {
    background-color: #F2F7A1;
    font-family: "Bree Serif", serif;
    color: #CE7777;
}
p{

}

#my-avatar {
    width: 150px;
    border-radius: 50%;
}

#content{
    text-align: center;
}
#my-name {
    font-family: "Merienda", cursive;
    color: #453C67;
}
#left-side {
    width: 49%;
    display: inline-block;
}
#right-side {
    width: 49%;
    display: inline-block ;
    text-align: right;
}
a {
    color: #453C67;
    text-decoration: none;
    border-bottom: 1px dotted #453C67;
}
 header {
    margin-top: 16px;
 }
 .nav-link {
    margin-left: 8px;
 }
 footer {
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
 }
  footer a:first-child{
    margin-right: 16px;
  }
 #content div{
    width:60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }